body {
  font-family: Georgia;
  font-size: 16px;
  line-height: 1.5;
  padding-top: 32px;
  padding-bottom: 32px;
}
section {
  margin-bottom: 24px;
}
article {
  margin-bottom: 16px;
}
p {
  margin-bottom: 12px;
}
ul {
  margin-top: 0;
}
h1,
h2,
h3 {
  font-weight: 400;
  margin-bottom: 0;
}
h1 {
  font-size: 36px;
}
h2 {
  font-size: 32px;
  border-bottom: 1px solid gray;
  margin-bottom: 8px;
}
h3 {
  font-size: 20px;
}
#header {
  text-align: center;
  margin-bottom: 32px;
}
#footer {
  margin-top: 64px;
  text-align: center;
}
#main {
  max-width: 800px; /* limit width */
  margin: 0 auto; /* center content */
}
