p {
  margin-bottom: 12px;
}
h1,
h2,
h3 {
  font-weight: 400;
  margin-bottom: 0;
}
h1 {
  font-size: 36px;
}
h2 {
  font-size: 36px;
  border-bottom: 1px solid gray;
  margin-bottom: 8px;
}
h3 {
  font-size: 20px;
}
#header {
  text-align: center;
  margin-bottom: 32px;
}
#footer {
  margin-top: 64px;
  text-align: center;
}
#main {
  margin-left: 10%;
  margin-right: 10%;
}
